<link rel="stylesheet" href="/styles/components/comments-widget.css">

<div class="comments-widget">
    <div class="comments-widget__header">
        <div class="comments-widget__info">
            <!-- <img class="comments-widget__info-group-icon" src="/images/pages/noun-users.svg" /> -->
            <!-- <div class="comments-widget__avatar-group">
                <img class="comments-widget__avatar"
                    src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/2.jpg" />
                    <img class="comments-widget__avatar"
                    src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/5.jpg" />
                    <img class="comments-widget__avatar"
                    src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/4.jpg" />
                    <img class="comments-widget__avatar"
                    src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/1.jpg" />
                    <img class="comments-widget__avatar"
                    src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/6.jpg" />
                    <span class="comments-widget__avatar">+10</span>
            </div> -->
        </div>
        <div class="comments-widget__notification">
            <a class="comments-widget__notification-icon-enabled" title="Stäng av aviseringar"></a>
        </div>
    </div>
    <div  class="comments-widget__container">
        <div class="comments-widget__content">
            <div class="comments-widget__comments">
                <div class="comments-widget__comment">
                    <div class="comments-widget__avatar">
                        <img src="/images/pages/users/user-1.jpg" />
                    </div>
                    <div class="comments-widget__post-wrap">
                        <div class="comments-widget__post-header">
                            <span class="comments-widget__post-author">Ron Green</span>
                            <span class="comments-widget__date-and-actions-wrap">
                                <span class="comments-widget__post-date">1 Mar 10.00</span>
                                <div class="comments-widget__post-header-actions-wrapper"></div>
                            </span>
                        </div>
                        <div class="comments-widget__post-content">
                            Will this be on the test?
                        </div>
                    </div>

                </div>

                <div class="comments-widget__comment">
                    <div class="comments-widget__avatar">
                        <img src="/images/pages/users/user-3.jpg" />
                    </div>
                    <div class="comments-widget__post-wrap">
                        <div class="comments-widget__post-header">
                            <span class="comments-widget__post-author">Anna Blue</span>
                            <span class="comments-widget__date-and-actions-wrap">
                                <span class="comments-widget__post-date">Igår 10.05</span>
                                <div class="comments-widget__post-header-actions-wrapper"></div>
                            </span>
                        </div>
                        <div class="comments-widget__post-content">
                            I think so, I heard teacher said so.
                        </div>
                    </div>

                </div>

                <div class="comments-widget__comment">
                    <div class="comments-widget__avatar">
                        <img src="/images/pages/users/user-4.jpg" />
                    </div>
                    <div class="comments-widget__post-wrap">
                        <div class="comments-widget__post-header">
                            <span class="comments-widget__post-author">Jenny Red</span>
                            <span class="comments-widget__date-and-actions-wrap">
                                <span class="comments-widget__post-date">Idag 10.10</span>
                                <div class="comments-widget__post-header-actions-wrapper"></div>
                            </span>
                        </div>
                        <div class="comments-widget__post-content">
                            Yes!!
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- <div class="comments-widget__warning-message" style="text-align: left; padding-left: 35px;">
        <span>Your message will be visible to everyone in the group</span>
    </div> -->
    
    <div class="comments-widget__footer " data-element="comments-widget.new-post-form">
        
        <div class="comments-widget__textbox-container">
            <input type="text" class="comments-widget__textbox" placeholder="Skriv kommentar till gruppen..." Rows="2" style="    resize: none;
            overflow: hidden;
            box-sizing: border-box;
            height: 48px;
        ">
        <div class="comments-widget__warning-message">
            <span>Your message will be visible to everyone in the group</span>
        </div>
        
        </div>
    </div>
</div>