<link rel="stylesheet" href="/styles/components/comments-widget.css">

<div class="comments-widget">
    <div class="comments-widget__header"> 
  
        <div class="comments-widget__notification">
            <a class="comments-widget__notification-icon-enabled" title="Stäng av aviseringar"></a>
        </div>
    </div>
    <div  class="comments-widget__container">
        <div class="comments-widget__content">
            <div class="comments-widget__comments">
                <div class="comments-widget__information-panel">
                    <div class="comments-widget__information-title">
                        Aviseringar för kommentarer
                    </div>
                    <div class="comments-widget__information-paragraph">
                        Klicka på ikonen (klockan) uppe till höger för att stänga av eller slå på aviseringar.
                    </div>
                    <div class="comments-widget__information-paragraph">
                        För att slå på aviseringar behöver du registreras som medlem i gruppen.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comments-widget__footer " data-element="comments-widget.new-post-form">
        <div class="comments-widget__textbox-container">
            <input type="text" class="comments-widget__textbox" placeholder="Skriv kommentar..." Rows="2" style="    resize: none;
            overflow: hidden;
            box-sizing: border-box;
            height: 48px;
        ">
        </div>
    </div>  
</div>