<link rel="stylesheet" href="/styles/components/comments-widget.css">

<div class="comments-widget">
    <div class="comments-widget__header">
        <div class="comments-widget__info">
            <!-- <img class="comments-widget__info-group-icon" src="/images/pages/noun-users.svg" /> -->
            <!-- <div class="comments-widget__avatar-group">
                <img class="comments-widget__avatar"
                    src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/2.jpg" />
                    <img class="comments-widget__avatar"
                    src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/5.jpg" />
                    <img class="comments-widget__avatar"
                    src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/4.jpg" />
                    <img class="comments-widget__avatar"
                    src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/1.jpg" />
                    <img class="comments-widget__avatar"
                    src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/6.jpg" />
                    <span class="comments-widget__avatar">+10</span>
            </div> -->
        </div>
        <div class="comments-widget__notification">
            <a class="comments-widget__notification-icon-enabled" title="Stäng av aviseringar"></a>
        </div>
    </div>
    <div class="comments-widget__content">
        <div class="comments-widget__comments">
            <div class="comments-widget__information-panel">
                <div class="comments-widget__information-title">
                    Aviseringar för gruppkommentarer
                </div>
                <!-- <div class="comments-widget__avatar-group">
                    <img class="comments-widget__avatar"
                        src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/2.jpg" />
                        <img class="comments-widget__avatar"
                        src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/5.jpg" />
                        <img class="comments-widget__avatar"
                        src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/4.jpg" />
                        <img class="comments-widget__avatar"
                        src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/1.jpg" />
                        <img class="comments-widget__avatar"
                        src="https://raw.githubusercontent.com/learnpoint/mockdb/main/user-images/6.jpg" />                        
                </div>                -->
                <div class="comments-widget__information-paragraph">
                    Alla medlemmar i gruppen ska få aviseringar.                   
                </div>
                <div class="comments-widget__information-paragraph">
                    Klicka på ikonen (klockan) uppe till höger för att stänga av eller slå på aviseringar.
                </div>                
            </div>
        </div>
    </div>
    <div class="comments-widget__footer " data-element="comments-widget.new-post-form">
        <div class="comments-widget__new-post-input">
            <input type="text" class="textbox BLOCK" placeholder="Skriv kommentar till gruppen..." Rows="2" style="    resize: none;
            overflow: hidden;
            box-sizing: border-box;
            height: 48px;
        ">
        </div>
        <a class="comments-widget__new-post-button"></a>
    </div>
</div>