<link rel="stylesheet" href="/styles/components/comments-widget.css">

<div class="comments-widget">
    <div class="comments-widget__header">
        <!-- <div class="comments-widget__notification">
            <a class="comments-widget__notification-icon-enabled" title="Stäng av aviseringar"></a>
        </div> -->
    </div>
    <div  class="comments-widget__container">
        <div class="comments-widget__content">
            <div class="comments-widget__comments">
                <div class="comments-widget__comment">
                    <div class="comments-widget__avatar">
                        <img src="/images/pages/users/user-4.jpeg" />
                    </div>
                    <div class="comments-widget__post-wrap">
                        <div class="comments-widget__post-header">
                            <span class="comments-widget__post-author">Rose Pink</span>
                            <span class="comments-widget__date-and-actions-wrap">
                                <span class="comments-widget__post-date">1 Mar 10.10</span>
                                <div class="comments-widget__post-header-actions-wrapper"></div>
                            </span>
                        </div>
                        <div class="comments-widget__post-content">
                            I reuploaded the file in proper format.
                        </div>
                    </div>
                </div>

                <div class="comments-widget__comment">
                    <div class="comments-widget__avatar">
                        <img src="/images/pages/users/user-4.jpg" />
                    </div>
                    <div class="comments-widget__post-wrap">
                        <div class="comments-widget__post-header">
                            <span class="comments-widget__post-author">Jenny Red</span>
                            <span class="comments-widget__date-and-actions-wrap">
                                <span class="comments-widget__post-date">Idag 12.10</span>
                                <div class="comments-widget__post-header-actions-wrapper"></div>
                            </span>
                        </div>
                        <div class="comments-widget__post-content">
                            Good job!
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="comments-widget__footer " data-element="comments-widget.new-post-form">
        <div class="comments-widget__textbox-container">
            <input type="text" class="comments-widget__textbox" placeholder="Skriv kommentar..." Rows="2" style="    resize: none;
            overflow: hidden;
            box-sizing: border-box;
            height: 48px;
        ">
        <!-- <div class="comments-widget__warning-message">
            <span>Your message will be visible to everyone in the group</span>
        </div> -->
        
        </div>
    </div>
</div>