<link rel="stylesheet" href="/styles/components/modal.css">
<link rel="stylesheet" href="/styles/pages/group/channels.css">

<div class="modal" id="modal" tabindex="-1" role="dialog">
    <div class="modal__overlay"></div>
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <h3 class="modal__title">Ta bort kanalen?</h3>
            </div>
            <div class="modal__body">
                <!-- <div class="add-channel">
                    <div class="add-channel__name">
                        <span class="add-channel__name-label">
                            Name
                        </span>
                        <input type="text" placeholder="Name" class="textbox BIG BLOCK">
                    </div>
                    <div class="add-channel__name">
                        <span class="add-channel__name-label">
                            Members
                        </span>
                        <div>
                        <select>
                            <option value="All">All</option>
                            <option value="Later">Add members later</option>
                          </select>
                        </div>
                    </div>
                    <div class="add-channel__actions">
                        <button class="button LARGE" data-element="modal-close-button">Cancel</button>
                        <a href="/pages/group/channels-new.html" type="button" class="button PRIMARY LARGE">Add</a>
                    </div>
                </div> -->

                <div class="add-members">
                    <div>

                    </div>
                    <!-- <div class="add-members__list">
                        <div class="add-members__list-item">
                            <img class="add-members__user-image" src="/images/pages/users/user-2.jpeg" />
                            <div class="add-members__user-name">Ronny R</div>
                            <input type="checkbox" >
                        </div>
                        <div class="add-members__list-item">
                            <img class="add-members__user-image" src="/images/pages/users/user-1.jpg" />
                            <div class="add-members__user-name">Stig B</div>
                            <input type="checkbox" >
                        </div>
                        <div class="add-members__list-item">
                            <img class="add-members__user-image" src="/images/pages/users/user-4.jpeg" />
                            <div class="add-members__user-name">Emma S</div>
                            <input type="checkbox" >
                        </div>
                        <div class="add-members__list-item">
                            <img class="add-members__user-image" src="/images/pages/users/user-4.jpg" />
                            <div class="add-members__user-name">Enid K</div>
                            <input type="checkbox" >
                        </div>
                        <div class="add-members__list-item">
                            <img class="add-members__user-image" src="/images/pages/users/user-1.jpg" />
                            <div class="add-members__user-name">Edvin C</div>
                            <input type="checkbox" >
                        </div>
                        <div class="add-members__list-item">
                            <img class="add-members__user-image" src="/images/pages/users/user-2.jpeg" />
                            <div class="add-members__user-name">Oscar P</div>
                            <input type="checkbox" >
                        </div>
                        <div class="add-members__list-item">
                            <img class="add-members__user-image" src="/images/pages/users/user-4.jpg" />
                            <div class="add-members__user-name">Elsa S</div>
                            <input type="checkbox" >
                        </div>
                        <div class="add-members__list-item">
                            <img class="add-members__user-image" src="/images/pages/users/user-4.jpeg" />
                            <div class="add-members__user-name">Pelle P</div>
                            <input type="checkbox" >
                        </div>
                    </div> -->
                    <div class="add-members__actions">
                        <button class="button" data-element="modal-close-button">Avbryt</button>
                        <a href="/pages/group/channels-6.html" type="button" class="button PRIMARY DANGER">Ta bort</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>