.discussion {
        max-width: 600px;
        margin: 32px auto; 
}

.discussion__comments {
    margin: 2em 0 0;
    max-height: 500px;
    overflow-y: scroll;
}

.discussion__comment {
    display: flex;
    gap: .7em;
    margin: 1.4em 0;
}

.discussion__commented-by-user {
    display: flex;
    gap: 6px;
}

.discussion__commented-by {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    flex-shrink: 0;
    display:none;
}

.discussion__commented-by img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display:none;
}

.discussion__add {
    text-align: center;
    padding: 8px;
    border-radius: 6px;
}

.discussion__add-input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    /* min-height: 40px; */
    font-family: inherit;
    font-size: inherit;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    /* height: 40px; */
    border: 1px solid #ccc;
    box-shadow: none;
}

.discussion__commented-by-name {
    font-weight: 600;
}

.discussion__comment-replies {
    display: block;
    text-decoration: none;
    color: #0079f2;
    font-size: 14px;
}

.discussion__comment-replies {
    display: block;
    text-decoration: none;
    color: #0079f2;
    font-size: 14px;
}

.discussion__comment-thread {
}

.discussion__comment-thread-item {
    border-bottom: 1px solid #ddd;
    padding: 1.5em 0;
}

.discussion__comment-no-of-replies {
    font-weight: bold;
    font-size: 14px;
}

.discussion__back-link a {
    text-decoration: none;
    color: #0079f2;
    font-size: 14px;
}

.discussion__back-link {
    margin: -10px 0; 
}


.discussion__post:first-child {
    margin: 16px 64px;
}


.discussion__post {
    display: block;
    background-color: #fff;
    padding: 24px;
    margin: 28px 64px;
    border-radius: 6px;
}

.discussion__post-item {
    display: block;
    padding: 24px 0;
    color: #000;
}

.is-mobile .discussion__post {
    margin: 16px 0;
}

.discussion__post-title {
    font-size: 18px;
    line-height: 24px;
    font-weight:bold;
    margin-bottom:8px;
}

.discussion__post:last-child {
    border-bottom:none;
}

.discussion__posted-by-name {
    font-weight: normal;
}

.discussion__post-content  {
    display: block;
}

.discussion__post {
    color: #000;
}

.discussion__post-content div {
    font-weight: 600;
    margin-bottom: 4px;
}

.discussion__posted-by-name,
.discussion__posted-date, 
.discussion__post-replies  {
    font-size: 14px;
}

.discussion__post-info {
    border-top: 1px solid #ddd;
    margin: 4px 0 0 0;
    padding: 16px 0 0 0;
    display: flex;
    gap: 6px;
}

.discussion__post-item .discussion__post-info {
    margin: 4px 0 0 0;
    padding: 0;
    display: flex;
    gap: 6px;
    border-top: none;
}

.discussion__post-meta-data {
    flex: 1;
    color: #555;
    font-size: 14px;
}

.discussion__posted-by img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    flex-shrink: 0;
    display:none;
}