.grade {
    width: 890px;
    position: relative;
    box-sizing: border-box;
    margin: 32px auto;
}

.grade__zero {
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.grade__add-color-scheme-menu {
    opacity: 0;
    visibility: hidden;
    transition: all .1s ease;
    background-color: #fff;
    position: absolute;
    top: 50px;
    border-radius: 3px;
    min-width: 190px;
    z-index: 10;
    transform-origin: top left;
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
}

.grade__add-color-scheme.EXPANDED .grade__add-color-scheme-menu  {
    opacity: 1;
    visibility: visible;
}


.grade__add-color-scheme-menu-item {
    padding: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
}

.grade__A {
    position: absolute;
    z-index: 3;
    top: 55px;
    left: 0;
    background-color: #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.grade__B {
    position: absolute;
    z-index: 2;
    top: 55px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    /* border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc; */
    background-color: #fff;
}

.grade__C {
    position: absolute;
    z-index: 2;
    left: 0;
    overflow: hidden;
    border-right: 1px solid #ccc;
    background-color: #fff;
}

.grade__D {
    position: absolute;
    z-index: 1;
    background-color: #fff;
}

.grade__courseparts-row {
    display: flex;
}

.grade__coursepart-cell {
    width: 64px;
    height: 120px;
    flex-shrink: 0;
    border-right: 1px solid #ddd;
}

.grade__coursepart-cell-name {
    cursor: pointer;
    display: block;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    position: relative;
    top: 100%;
    width: 120px;
    height: 63px;
    padding: 18px 0 0 8px;
}

.grade__student-row {
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.grade__student-row:nth-child(even) {
    background-color: rgba(0, 0, 0, .04);
}

.grade__student-row:last-child {
    border-bottom: unset;
}

.grade__student {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    padding: 10px;
}

.grade__student-avatar img {
    display: block;
    border-radius: 50%;
    cursor: pointer;
    width: 1.7em;
    height: 1.7em;
}

.grade__grade-row {
    display: flex;
}

.grade__grade-cell {
    width: 64px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    flex-shrink: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.grade__grade-cell-content {
    display: block;
    height: 100%;
    position: relative;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.grade__grade-row:nth-child(even) .grade__grade-cell {
    background-color: rgba(0, 0, 0, .04);
}

.grade__grade-row:last-child .grade__grade-cell,
.grade__grade-row:last-child .grade__grade-cell-not-passed,
.grade__grade-row:last-child .grade__grade-cell-passed {
    border-bottom: unset;
}

.grade__grade-cell-not-passed {
    width: 64px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    flex-shrink: 0;
    background-color: #f8e8e8;
    color: #bb0000;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.grade__grade-cell-passed {
    width: 64px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    flex-shrink: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #e8f8ec;
    color: #008800;
}

.grade__grade-cell-not-published {
    width: 64px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    flex-shrink: 0;
    border-right: 1px solid #ddd;
    background-color: #fef8e8;
    color: #d8aa47;
}

.grade__border {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 1px #ccc;
    pointer-events: none;
}

.grade__not-published {
    height: 8px;
    width: 8px;
    background-color: #0780ff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    z-index: 2;
    display: block;
    margin: 3px 3px 0 0;
}