.quiz {
}

.quiz.EXPANDED .quiz__creation-panel {
    /* display: none; */
}

.quiz__settings-panel {
    /* display:none; */
}

.quiz.EXPANDED .quiz__settings-panel {
    /* display: block; */
}

.quiz h3 {
    margin: 0;
}

.quiz__title {
    text-align: center;
    margin-bottom: 10px;
}

.quiz__menu-tabs {
    display: flex;
    margin: 1em 0 ;
    align-items: center;
    justify-content: center;
}

.quiz__menu-tab {
    text-decoration: none;
    flex: 0 0 auto;
    width: 120x;
    text-align: center;
    cursor: pointer;
    padding: 4px 24px;
    color: #444;
    border-radius: 4px 0 0 4px;
    border: 1px solid #777;
}

.quiz__menu-tab.SELECTED {
    background-color: #777;
    color: #fff;
}

.quiz__menu-tab:first-child {
    border-right: 0;
}

.quiz__menu-tab:last-child {
    border-radius: 0 4px 4px 0;
    border-left: 0;
}


.quiz__edit-question {
    border-radius: 6px;
    box-shadow: 0 0px 3px rgba(0,0,0,.2);
    background-color: #fff;
    /* padding: 16px; */
    margin: 0 0 24px 0;
    max-width: 760px;
    margin: 0 auto 42px;
}

.quiz__edit-question-add-points {
    display: flex;
    gap: 4px;
    font-size: 14px;
    align-items: center;
}

.quiz__edit-question-add-points .textbox {
    width: 36px;
}

.quiz__edit-question-header {
    display: flex;
    gap: 8px;
    align-items: center;
    padding:8px;
    margin-bottom: 0px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    background-color:#efebebe0;
}

.quiz__edit-question-header.INCORRECT {
    background-color:#fce8e6;
}

.quiz__edit-question-header.CORRECT {
    background-color:#ccf6cc;
}

.quiz__edit-question-header h2 {
    flex: 1;
    font-weight: 600;
    margin: 0;
    font-size: 20px;
}

.quiz__edit-question-content-answer-options-header {
    display: flex;
    color: #999;   
    font-weight: 600;
    font-size: 14px;
    gap: 20px;
    align-items: center;
    margin-top: 16px;
}


.quiz__edit-question-content-answer-options-column {
    width: 500px;
}
.quiz__edit-question-content-answer-option {
    display: flex;
    gap: 370px;
    align-items: center;
    margin: 16px 0;
}

.quiz__edit-question-content-answer-option-1 {
    display: flex;
    gap: 370px;
    align-items: center;
    margin: 16px 0;
}

.quiz__edit-question-content-add-answer-option-1 {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 13px;
    margin-left: 4px;
}

.quiz__edit-question-actions {
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.quiz__add-question-action {
    text-align: center;
    margin: 24px;
}

.quiz__edit-question-content {
    padding: 16px;
}

.quiz .quiz__edit-question-content-answer-option input[type='checkbox'] {
    transform: scale(1.3);
    margin-left: 18px;
}

.quiz .quiz__edit-question-content-answer-option input[type='radio'] {
    transform: scale(1.3);
    margin: 0;
}

.quiz .quiz__edit-question-content-answer-option-1 input[type='checkbox'] {
    transform: scale(1.3);
}

.quiz__edit-question-content-answer-actions {
    display: flex;
    align-items: center;
    /*gap: 374px;*/
    justify-content: space-between;
}

.quiz__edit-question-content-add-answer-option {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 13px;
    margin-left: 72px;
}

.quiz__edit-question-content-add-answer-option-1 {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 13px;
}

.quiz__question-content-answer-option {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 6px 4px;
    margin: 6px 0;
    border-radius: 4px;
}

.quiz__question-content-answer-option input[type='radio'],
.quiz__question-content-answer-option input[type='checkbox'] {
    transform: scale(1.3);
}

.quiz .quiz__question-content-answer-option.CORRECT {
   background-color:#f0fff4;
}

.quiz .quiz__question-content-answer-option.INCORRECT {
    background-color:#ffe8e8;
 }


.quiz__question-content-answer-option-text {
    flex: 1;
    line-height: 1.2;;
 }
 

.quiz .quiz__edit-question-content-answer-option .textbox,
.quiz .quiz__edit-question-content-answer-option-1 .textbox {
    width: 500px;
    padding: 8px;
    border-color: #ddd;
    font-size: 16px;
}

.quiz__edit-question-content-header .textbox {
    padding: 8px;
    font-size: 16px;
}

.quiz select {
    display: inline-block;
    margin: 0;
    background-image: url(../../../images/pages/chevron-down.svg);
    border: 1px solid #d0d0d0;
    background-repeat: no-repeat;
    background-position: right 4px top 6px;
    background-size: 18px 18px;
    background-color: #fff;
    border-radius: 3px;
    font-family: inherit;
    line-height: 22px;
    padding: 3px 26px 3px 6px;
    font-size: 13px;
    color: #333;
    outline: none;
    transition-property: border-color, box-shadow;
    transition-duration: .2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: baseline;
    max-width: 100%;
}

.quiz__edit-question-context-menu {
    opacity: 0.5;
}

.quiz__edit-question-content-header h2 {
    font-weight: 600;
    margin: 0;
    font-size: 18px;
}

.quiz__settings {
    padding: 8px;
    margin: 80px 0 24px;
    border-radius: 6px;
    /* border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5; */
}

.quiz__settings-title {
    margin: 12px;  
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding-left: 8px;
}

.quiz__settings-content {
    /* padding: 0px 6px 0; */
    /* max-width: 480px;*/
    /* max-width: 648px;  */
    margin: 0px auto;
    /* display: none; */
}

/* .quiz.EXPANDED .quiz__settings-content {
    display: block;
} */

.quiz__settings-item {
    position: relative;
    display: flex;
    padding: 8px 0px 8px 8px;
    border-radius: 6px;
    /* border-top: 1px solid #f7f7f7; */
    transition-property: padding, background-color, margin;
    transition-duration: .16s;
    cursor: pointer;
    line-height: 1.3;
}

.quiz__settings-item-name {
    font-weight: 600;
    width: 120px;
    padding: 4px 16px 4px 0;
    padding: 4px 0;
    flex-shrink: 0;
}

.quiz__settings-item-state {
    padding: 4px 0;
    flex: auto;
    position: relative;
}

.quiz__settings-edit-icon {
    opacity: .4;
}

.quiz__settings-open {
    display: flex;
    justify-content: end;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.quiz__settings-close {
    display: none;
}

.quiz.EXPANDED .quiz__settings-close {    
    display: flex;
    justify-content: end;
}
.quiz.EXPANDED .quiz__settings-open {
    display: none;
}

.quiz__settings-icon {
    opacity: .5;
}

.quiz__edit-question-content-switch-wraper {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  .quiz__edit-question-content-switch-label {
    font-size: 13px;
  }
  
  .quiz__edit-question-content-switch-wrap {
    cursor: pointer;
    border:1px solid #aaa;
    background: #fff;
    padding: 2px;
    width: 31px;
    height: 15px;
    border-radius: 33.5px;
  }

  .quiz__edit-question-content-switch-wrap input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .quiz__edit-question-content-switch {
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    transition: 0.2s;
  }

  .quiz__edit-question-content-switch::after {
    content: "";
    border-radius: 50%;
    background: #ccc;
    grid-column: 2;
  }
  
  input:checked + .quiz__edit-question-content-switch {
    grid-template-columns: 1fr 1fr 0fr;
  }

  input:checked + .quiz__edit-question-content-switch::after {
    background-color: #0780ff;
  }

  .quiz__text-answer {
    margin-left: 16px;
  }

  .quiz__text-answer-label {
    font-size: 10px;
    margin-top: 10px;

  }

  .quiz__text-answer-content {
    
  }

.quiz__answer-correctness {
    font-size: 13px;
    color: #8d8d8d;
}

.quiz__question-content-answer-option-box {
    width: 20px;
    height: 20px;
}

.quiz__question-content-answer-option-box img {
    width: 100%;
    height: 100%;
}

.quiz__question-review-message {
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 14px;
    background-color:#ffcc66;
}

.quiz__question-review-message-v1 {
    padding: 0 4px;
    border-radius: 6px;
    font-size: 14px;
    color:#fc8e00;
    font-weight: 600;
}
.quiz__question-review-message-v2 {
    font-size: 14px;
    color:#fc8e00;
    font-weight: 600;
}

.quiz__question-review-required {
    background-color:#ffebc3;
}

.quiz__mark-as-reviewed {
    text-align: right;
}

.quiz__question-content-answer-option-text {
    flex: 1;
}

.quiz__question-result-incorrect {
    color: #bb0000;
    margin:4px 0 10px 0;
    font-weight: bold;
    font-size: 18px;    
}


.quiz__question-result-correct {
    color: #008800;
    margin:4px 0 10px 0;
    font-weight: bold;
    font-size: 18px;    
}

.quiz__question-result-incorrect.HIGHLIGHT {
    color: #bb0000;
    display: inline-block;
    background-color: #eeb5b5;
    margin:4px 0 10px 0;
    padding: 4px 16px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;    
}

.quiz__question-result-correct.HIGHLIGHT {
    color: #008800;
    display: inline-block;
    background-color: #92f692;
    padding: 4px 16px;
    border-radius: 6px;
    margin:4px 0 10px 0;
    font-weight: bold;
    font-size: 18px;    
}

.quiz__question-content-annswers-title {
    font-weight: 600;
    margin-top: 16px;
}

.quiz__edit-points {
    padding: 2px 8px;
    border: 1px solid #111;
    border-radius: 3px;
    font-weight: bold;
}

.quiz__question-result-incorrect {
    color: #bb0000;
    margin:4px 0 10px 0;
    font-weight: bold;
    font-size: 18px;    
}


.quiz__question-result-correct {
    color: #008800;
    margin:4px 0 10px 0;
    font-weight: bold;
    font-size: 18px;    
}

.quiz__question-result-incorrect.HIGHLIGHT {
    color: #bb0000;
    display: inline-block;
    background-color: #eeb5b5;
    margin:4px 0 10px 0;
    padding: 4px 16px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;    
}

.quiz__question-result-correct.HIGHLIGHT {
    color: #008800;
    display: inline-block;
    background-color: #92f692;
    padding: 4px 16px;
    border-radius: 6px;
    margin:4px 0 10px 0;
    font-weight: bold;
    font-size: 18px;    
}

.quiz__question-content-annswers-title {
    font-weight: 600;
    margin-top: 16px;
}

.quiz__edit-points {
    padding: 2px 8px;
    border: 1px solid #111;
    border-radius: 3px;
    font-weight: bold;
}