.survey__page-header {
    border-bottom: 1px solid #ddd;
    padding: 32px 0;
}

.survey__page-header-groupname {
    font-size: 20px;
    font-weight: bold;
}

.survey__page-header-groupcode {

}

.survey__page-guide {
    padding: 32px 0;
}

.survey__page-guide-title {
    font-weight: 600;
    margin-bottom: 4px;
}

.survey__question-title {
    font-weight: 600;
    margin-bottom: 4px;
}

.survey__question {
    margin: 0 0 25px 0;
}

.survey__question-answer {
    margin: 8px 0;
}

.survey__question-fragment-description {
    color: #777;
    margin: 2px 0 4px;
    font-size: 14px;
    overflow-wrap: break-word;
}

.survey__page-actions {
    display:flex;
    justify-content:flex-end;
    gap: 8px;
}

input[type="radio" i] {
    transform: scale(1.3);
    margin: 0px 3px 0px 5px;
}

label {
    font-size: 17px;
}