.notifications {
    padding-top: 36px
}

.notifications__header {
    text-align: center;
    margin-bottom: 36px;
}

.notifications__title {
    margin-bottom: 4px;
}

.notifications__new {
    padding: 0 24px;
    max-width: 600px;
    margin: 0 auto;
}

.notifications__previously-seen-items {
    padding: 0 24px;
    max-width: 600px;
    margin: 0 auto;
}


hr {
    margin: 0;
}

.notifications__previously-seen {
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}

.notifications__settings-link {
    color: #0079f2;
    color: #000;
    display: none;
}

.notifications__status {
    font-weight: 700;
    font-size: 16px;
    padding: 24px 0;
    cursor: pointer;
    text-align: center;
}

.notifications__new-list,
.notifications__previous-list,
.notifications__previous-list-open {
    list-style: none;
    padding: 0;
    margin-top: -2px;
}

.notifications__new {
    font-weight: 600;
}

.notifications__previous-list,
.notification__group-items {
    /* display: none; */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.notifications__previous-list.EXPAND,
.notification__group.EXPAND .notification__group-items {
    /* display: block; */
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    height: auto;
    max-height: 310px;
}

.notification {
    line-height: normal;
    /* line-height: 1; */
    padding: 1em 0;
    /* border-bottom: 1px solid #eee; */
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.notification__group.EXPAND {
    background-color: #f2f2f2;
    padding: 0 16px;
    border-radius: 6px;
    margin: 0 -16px;
}

.notification:last-child {
    border-bottom: none;
}

.notification__avatar,
.notification__avatar-group {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    /* background-color: #eee; */
    border: 1px solid #aaa;
}

.notification__avatar img {
    width: 1.1em;
    height: 1.1em;
    padding: 12px;
}

.notification__avatar-group {
    margin-left: -32px;
}

.notification__avatar-group-number {
    margin-left: -32px;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    border: 1px solid #aaa;
    background: #d7d7d7;
    text-align: center;
}

.notification__content {
    flex: 1;
}

.notification__description {
    display: block;
}

.notification__date,
.notification__group-name,
.notification__separator {
    font-size: 14px;
    font-weight: normal;
    color: #666;
}

.notifications__view-all {
    font-weight: 600;
    text-align: center;
    padding: 40px 0 24px 0;
}

.notification__actions {
    opacity: 0.8;
}

.notification__content-long {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* min-width: 0; */
}

.notification__description-long {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    min-width: 0;
}