.notifications__header {
    text-align: center;
    margin-bottom: 48px;
}


.notifications__title {
    margin-bottom: 4px;
}


.notifications__settings-link {
    /* float: right; */
    color: #0079f2;
    color: #000
    /* text-decoration: none; */
}


.notifications__status {
    font-weight: 700;
    font-size: 16px;
    margin-top: 24px;;
}


.notifications__new,
.notifications__previous {
    list-style: none;
    padding: 0;
    margin-top: 0;
}


.notifications__new {
   font-weight: 600;
}


.notifications__previous {
    color:#555;
 }

.notification {
    padding: 1em 0;
    border-bottom: 1px solid #eee;
    display: flex;
    gap:8px;
    align-items: center;
}


.notification:last-child {
    border-bottom: none;
}


.notification__avatar {
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    background-color: #eee;
    border: 1px solid #ccc;
}

.notification__date {
    flex: 1;
    text-align: right;
    font-size: 14px;
}

.notification__expand {
    flex: 1;
    text-align: right;
    font-size: 18px;
}

.notifications__view-all {
    font-weight: 600;
    text-align: center;
    padding: 40px 0 24px 0;
}