.notification-settings {
    max-width: 600px;
    margin: 0 auto;
}

.notification-settings__title {
    font-size: 1.8em;
    text-align: center;
}

.notification-settings__section {
    margin: 3em 0 1em 0;
    /* border-bottom: 1px solid #ddd; */
}

.notification-settings__section:last-child {
    border-bottom: none;
}

.notification-settings__section-group {
    margin-bottom: 2em;
}

.notification-settings__section-title {
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
}

.notification-settings__section-decription {
    margin: 0 0 4px 0;
    color: #777;
    font-size:14px;
}

.notification-settings__section-item {
    /* margin-bottom: .6em; */
}

.notification-settings__label {
    display: flex;
    gap: 4px;
    align-items:flex-start;
}

.notification-settings__label-title {
    display: block;
}

.notification-settings__label-description {
    display: block;
    padding-left: 2px;
    color: #888;
    font-size: .95em;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 8px;
    margin-top: 9px;
}

.notification-settings__section-item.group-name {
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

.notification-settings__label-meta {
    display: flex;
    flex: 1;
    text-align: right;
    gap: 4px;
    color: #777;
    font-size: 13px;
}

.notification-settings__group-info {
    /* display: flex;
    flex: 1; */
}

.notification-settings__icon {
    width: 18px;
    height: 18px;
    position: relative; 
    top: 4px;
}

.notification-settings__tools-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.notification-settings__radio input[type=radio] {
    transform: scale(1.5);
}