.discussion {
   
}

.discussion__header {
    display: flex;
    align-items: center;
    /* position: sticky;
    top: 50px; */
    background-color: #fff;   
    border-bottom: 1px solid #ddd;
    padding: 12px;
    gap:6px;
}

.discussion__header-mobile {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #fff;   
    border-bottom: 1px solid #ddd;
    padding: 16px;
}

.discussion__header-left-panel {
    display: flex;
    align-items: center;
    gap:8px
}

.discussion__header-right-panel {
    display: flex;
    align-items: center;
    gap: 4px;
}

.discussion__more-actions-button {
    padding-left: 4px;
    opacity: .4;
    padding-top: 4px;
}

.discussion__action {
    text-align: right;
}

.discussion__action-back {
    text-align: left;
    /* margin-bottom: -4px; */
    font-size: 18px;
}

.discussion__action-back-button {
    width: 32px;
    height: 32px;
    margin-bottom: -9px;
}

.discussion__channel-title {
    font-weight: 600;
    font-size: 18px;
    flex:1;
}
.discussion__thread-title {
    font-weight: 600;
    font-size: 18px;
    flex:1;
    line-height: 20px;
}

.discussion__thread-channel {
    font-weight: normal;
    font-size: 13px;
    color: #888;
    display: none;
}

.discussion__channel-more-actions {
    position:relative;
}

.discussion__channel-more-actions.EXPANDED .discussion__channel-more-actions-menu {
    font-size: 14px;
    opacity: 1;
    width: 120px;
    visibility: visible;
}

.discussion__channel-more-actions-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 100;
    top: 95%;
    top: 100%;
    right: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
    transition: opacity .1s ease;
    border-radius: 4px;
}

.discussion__channel-more-actions-menu-item {
    border-bottom: 1px solid #ddd;
    color: #666;
    cursor: pointer;
    padding: 8px 10px;
    display:block;
}

.discussion__channel-threads-button {
    /* border: 1px solid #bbb;
    padding:4px 10px;
    height: 20px;
    border-radius: 8px;
    cursor: pointer;
    line-height: 20px;
    font-size:14px; */
    margin-left: 8px;
    position:relative;
    top:-4px;
}

.discussion__channel-threads-new-indicator {
    width: 7px;
    height: 7px;
    background-color: #0780ff;
    border-radius: 50%;
    display:inline-block;
    position:relative;
    top: -12px;
    left: -4px;
    display: none;
}

.discussion__channel-threads-view {
    position:relative;
}

.discussion__channel-thread-view-all {
    margin: 12px 0;
    text-align:center;
}

.discussion__channel-threads {
    position: absolute;
    font-size: 14px;
    top: 28px;
    right:0;
    border: 1px solid #ddd;
    padding:0 16px;
    border-radius: 8px;
    cursor: pointer;
    width: 350px;
    display:none;
    background-color: #f2f2f2;
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
}


.discussion__channel-threads-view.EXPANDED .discussion__channel-threads {
    display:block;
}

.discussion__channel-thread.NEW {
    font-weight:600;
} 

.discussion__channel-thread {
    border-bottom: 1px solid #ccc;
    padding: 12px 0;
    cursor: pointer;
}

.discussion__channel-threads-title {
    margin: 18px 0 -4px;
}

.discussion__channel-thread:last-child {
    border-bottom:none;
}

.discussion__subscribe-button {
    width: 20px;
    height: 20px;
    text-align:right;    
    cursor: pointer; 
}

.discussion__thread-button {
    width: 22px;
    height: 22px;
    opacity: .4;
    margin-right: 8px;
    position: relative;
    top: 7px;
    cursor: pointer;    
}

.discussion.ARCHIVED .discussion__comments {
    height: calc(100vh - 238px);
    overflow-y: hidden;
    padding: 0 1em;
    opacity: .5;
}


.discussion__add-channel {
    height: calc(100vh - 144px);
    overflow-y: auto;
    padding: 0 1em;
}

.discussion__comments {
    height: calc(100vh - 219px);
    overflow-y: scroll;
    padding: 0 1em;
}

.discussion__channels {
    height: calc(100vh - 143px);
    overflow-y: scroll;
    padding: 0 1em;
}

.discussion__comments.SHORT {
    max-height: calc(100vh - 320px);
    overflow-y: scroll;
    padding: 0 1em;
}

.discussion__comments.MOBILE {
    max-height: calc(100vh - 280px);
    overflow-y: scroll;
    padding: 0 1em;
}


.discussion__comments::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, .08);
    border-radius: 3px;
}

.discussion__comments::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .12);
    border-radius: 3px;
}

.discussion__comment {
    display: flex;
    gap: .7em;
    margin: 1.6em 0;
}

.discussion__comment-threaded {
    display: flex;
    gap: .7em;
    margin: 1.8em 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.discussion__comment-reply {
    text-decoration: none;
    color: #888;
    font-size: 14px;
    margin: 2px 0;
    flex:1;
    display: none;
}

.discussion__reply-mark-as-answered {
  margin:16px 0 0;
}


.discussion__reply-mark-as-answered-label {
    display: flex;
    align-items:center;
    color: #888;
}

.discussion__reply-count {
    color: #666;
    font-size: 14px;
    margin: 4px 0;
}


.discussion__comment-content {
    line-height: 20px;
    flex:1;
}

.discussion__commented-by-user {
    display: flex;
    gap: 6px;
}

.discussion__commented-by {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    flex-shrink: 0;
}

.discussion__commented-by img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.discussion__add {
    text-align: center;
    padding: 8px;
    border-radius: 6px;
}

.discussion__add-comment{
    padding: 16px;
    position: relative;
}

.discussion__add-input {
    display: block;
    resize: none;
    margin: 0;
    padding: 10px 32px 10px 24px;
    padding: 12px 32px 13px 16px;
    font-size: 16px;
    font-family: inherit;
    line-height: 20px;
    color: #333;
    color: #000;
    background-color: #eee;
    background-color: #f0f0f0;
    background-image: none;
 
    border-radius: 6px;
    transition-property: border-color, box-shadow;
    transition-duration: .2s;
    width: 100%;
    vertical-align: baseline;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    border: none;
}

.discussion__add-input:focus {
   outline: none;
}

.discussion__add-file-icon {
    position: absolute;
    top: 29px;
    right: 26px;
    width: 22px;
    height: 22px;
    opacity: 0.5;
    cursor: pointer;
}

.discussion__comment-info {
    display: flex; 
    align-items:center;
    gap: 8px;
}

.discussion__commented-by-name {
    font-weight: 600;
}

.discussion__comment-question {
    border: 1px solid #ddd;
    background-color: #888;
    color: #fff;
    border-radius: 3px;
    padding: 1px 8px;
    line-height: 18px;
}

.discussion__comment-meta {
    display: flex; 
    align-items:center;
    gap: 4px;
    color: #888;
    font-size:13px;
    flex:1;
}

.discussion__comment-content-text {
    color: #000;
}

.discussion__comment-replies {
    display: block;
    text-decoration: none;
    color: #0079f2;
    font-size: 14px;
}

.discussion__comment-replies {
    display: block;
    text-decoration: none;
    color: #0079f2;
    font-size: 14px;
}

.discussion__comment-thread {
}

.discussion__comment-thread-item {
    border-bottom: 1px solid #ddd;
    padding: 1.5em 0;
}

.discussion__comment-no-of-replies {
    font-weight: bold;
    font-size: 14px;
}

.discussion__back-link a {
    text-decoration: none;
    color: #0079f2;
    font-size: 14px;
}

.discussion__back-link {
    margin: -10px 0; 
}


.discussion__post:first-child {
    margin: 16px 64px;
}


.discussion__post {
    display: block;
    background-color: #fff;
    padding: 24px;
    margin: 28px 64px;
    border-radius: 6px;
}

.discussion__post-item {
    display: block;
    padding: 24px 0;
    color: #000;
}

.is-mobile .discussion__post {
    margin: 16px 0;
}

.discussion__post-title {
    font-size: 18px;
    line-height: 24px;
    font-weight:bold;
    margin-bottom:8px;
}

.discussion__post:last-child {
    border-bottom:none;
}

.discussion__posted-by-name {
    font-weight: normal;
}

.discussion__post-content  {
    display: block;
}

.discussion__post {
    color: #000;
}

.discussion__post-content div {
    font-weight: 600;
    margin-bottom: 4px;
}

.discussion__posted-by-name,
.discussion__posted-date, 
.discussion__post-replies  {
    font-size: 14px;
}

.discussion__post-info {
    border-top: 1px solid #ddd;
    margin: 4px 0 0 0;
    padding: 16px 0 0 0;
    display: flex;
    gap: 6px;
}

.discussion__post-item .discussion__post-info {
    margin: 4px 0 0 0;
    padding: 0;
    display: flex;
    gap: 6px;
    border-top: none;
}

.discussion__post-meta-data {
    flex: 1;
    color: #555;
    font-size: 14px;
}

.discussion__posted-by img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    flex-shrink: 0;
    display:none;
}

.discussion__comment-poll {
    background-color: #f2f2f2;
    border-radius: 6px;
    padding: 16px;
    margin-top: 8px;
    width: 340px;
}

.is-mobile .discussion__comment-poll {
    width: 100%;
    box-sizing:border-box;
}

.discussion__comment-poll-question {
    font-weight:bold;
}

.discussion__comment-poll-options {
  margin: 12px 0 0;   
  font-size: 14px;
}

.discussion__comment-poll-option {
    border: 1px solid #ddd;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 8px 0;
}

.discussion__comment-poll-action {
    text-align: right;
    margin: 16px 0 0;
}

.discussion__actions-container {
    margin-top: 270px;
}

.discussion__actions {
    text-align:center;
    padding: 12px;
    box-sizing:border-box;
}

.discussion__actions-message {
    padding: 10px 0;
    font-weight: 600;
}

.discussion__channels-message {
    padding: 16px 0;
    font-weight: 600;
    text-align: center;
    background-color: #ffe5e5;
    margin: 16px 0;
    border-radius: 8px;
}

.discussion__comment-content-image {
    width: 360px;
    margin:8px 0 0;
    background-color: #f2f2f2;
    box-sizing: border-box;
    border-radius: 4px;
}

.discussion__comment-content-image img {
    width: 100%;
    height:100%;
    border-radius: 4px;
}

.discussion__comment-file {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 16px;
    margin-right: 2px;
    margin: 4px 0;
    padding: 4px 12px 4px 8px;
    background-color: rgba(0,0,0,.03);
    color: #000;
    cursor: pointer;
}

.discussion__comment-file-icon {
  width: 24px;
  height: 24px;
}

.discussion__comment-file-name {
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    line-height: 2;
    font-size: 15px;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
}