.lia__content-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
}

.lia__content-header-avatar {
    display: flex;
    flex: 1;
    align-items: center;
}

.lia__content-header-avatar img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.lia__content-header-name {
    font-weight: 600;
    margin-left: 8px;
}

.lia__content-actions {}

.lia__content {
    max-width: 640px;
    margin: 0 auto;
}

.lia__content-change {
    background-color: rgba(0, 0, 0, .024);
    padding: 24px;
    margin: 32px auto;
    border-radius: 16px;
    text-align: center;
    max-width: 320px;
}

.lia__content-change-inline {
    background-color: rgba(0, 0, 0, .024);
    border: 1px solid #ddd;
    padding: 4px 6px;
    border-radius: 8px;
    display: inline-block;
    font-size: 15px;
    margin-left: -8px;
    font-weight: 600;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    /* color: #e00000; */
}

.lia__content-change.ONE {
    padding: 24px;
    text-align: center;
    background-color: transparent;
    max-width: 420px;
    color: #e00000;
}

.lia__content-change.TWO {
    background-color: rgba(0, 0, 0, .024);
    border: 1px solid #ddd;
    padding: 24px;
    margin: 32px auto;
    border-radius: 16px;
    text-align: center;
    max-width: 420px;
    font-weight: 600;
}

.lia__content-change.THREE {
    background-color: rgba(0, 0, 0, .024);
    padding: 24px;
    margin: 32px auto;
    border-radius: 16px;
    text-align: center;
    max-width: 420px;
}

.lia__content-item {
    margin-bottom: 20px;
}

.lia__content-item-label {
    font-weight: 600;
}

.lia__content-item-edited-label {
    color: #444;
    font-weight: normal;
    background-color: rgba(0, 0, 0, .024);
    padding: 0 8px 2px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #ddd;
}