.notification-settings {
    max-width: 560px;
    margin: 0 auto;
}

.notification-settings__title{
    font-size: 1.6em;
}

.notification-settings__heading {
    font-weight: 700;
}

.notification-settings__section {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;
}


.notification-settings__section-item {
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.notification-settings__section-decription {
    margin: 0 0 10px 0;
    color: #777;
}

.notification-settings__label {
    flex:1;
}

input[type=checkbox] {
    transform: scale(1.2);
}

h3 {
    margin: 0;
    font-weight: 600;