<!DOCTYPE html>
<html lang="en" class="render__rendering">

<head>
    <meta charset="UTF-8">
    <title>{{ title || Draft }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/svg+xml" href="/images/core/favicon.svg" />

    <script src="/scripts/core/db.js"></script>
    <script src="/scripts/core/render.js"></script>
    <script src="/scripts/core/utils.js"></script>
    <script src="/scripts/core/is-mobile.js"></script>
    <script src="/scripts/core/lazy-src.js"></script>
    <script src="/scripts/core/site.js"></script>

    <link rel="stylesheet" href="/styles/core/render.css">
    <link rel="stylesheet" href="/styles/core/body.css">
    <link rel="stylesheet" href="/styles/core/site.css">
    <link rel="stylesheet" href="/styles/core/page.css">
    <link rel="stylesheet" href="/styles/core/button.css">

    <link rel="stylesheet" type="text/css" href="/styles/core/trix.css">
    <script type="text/javascript" src="/scripts/core/trix.js"></script>
</head>

<body class="body">

    <div class="site__left-nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/pages/notifications/">Händelser</a>
            </li>
        </ul>
        <h3>Grupper</h3>
        <ul>
            <courses>
                <li>
                    <a href="/pages/group/content.html?course_id=[[id]]">
                        [[name]]
                    </a>
                </li>
            </courses>
        </ul>
    </div>

    <div class="site__header">
        <img src="/images/pages/list.svg" />
        <span>{{ title || Page }}</span>
    </div>

    <main class="site__main">