/* ==========================================================================
   Breadcrumb
   ========================================================================== */

.breadcrumb {
    display: flex;  
    flex-wrap: wrap;
    gap: 1px 6px;
    font-size: 14px;
    min-height: 22px;
    padding-top: 10px;
}

.is-mobile .breadcrumb {
    gap: 4px 4px;
}

.breadcrumb.HIDDEN {
    opacity: 0;
}



/* ==========================================================================
   Node
   ========================================================================== */

.breadcrumb > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex; /* Flex needed for mobile where we insert svg using ::before. */
    align-items: center;
    gap: 2px;
    color: #888;
}



/* ==========================================================================
   Mobile Node
   ========================================================================== */

/* This will hide all nodes except 3rd from end, the link to "previous" page. */
.is-mobile .breadcrumb > *:not(*:nth-last-child(3)) {
    display: none;
}

.is-mobile .breadcrumb *:nth-last-child(3)::before {
    content: '';
    background-image: url(/Images/svg-icons/chevron-left-0079f2.svg);
    height: 1.4em;
    width: 1.4em;
    flex-shrink: 0;
    background-size: cover;
}



