/* ==========================================================================
   Left Nav
   ========================================================================== */

.site__left-nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #222;
    color: #ddd;
    width: 248px;
    padding: 1.2em 0 0;
}

.site__left-nav h3 {
    font-size: 1em;
    padding: 2px 12px;
    margin: 0;
}

.site__left-nav ul {
    margin: 0 0 1em;
    padding: 0;
}

.site__left-nav li {
    list-style-type: none;
}

.site__left-nav a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 2px 12px 3px;
}

.site__left-nav a.SELECTED,
.is-desktop .site__left-nav a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
}


/* ==========================================================================
   Header
   ========================================================================== */

.site__header {
    display: flex;
    align-items: center;
    gap: 0 6px;
    border-bottom: 1px solid #ddd;
    height: 45px;
    line-height: 45px;
    position: fixed;
    left: 248px;
    right: 0;
    top: 0;
    background: #fff;
    padding-left: 12px;
    font-weight: bold;
}


/* ==========================================================================
   Main
   ========================================================================== */

.site__main {
    margin-top: 45px;
    margin-left: 248px;
}